.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.switch-mode label {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}
.switch-mode .slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.5s;
  border-radius: 20px;
}

.switch-mode input:checked + .slider {
  background-color: blue;
}

.switch-mode .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
}

.switch-mode input:checked + .slider::before {
  transform: translateX(20px);
}
